# Virtual environment
.venv/

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django secrets
.env

# Database & migrations (optional)
db.sqlite3
*.sqlite3
*.log

# JetBrains IDE files
.idea/

# Byte-compiled and log files
*.log
*.swp
